<div class="skybg">
    <div class="themed-container container">
        <div class="d-flex align-items-center row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="imgSec p-5"><img src="{{mainImg}}" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="platform">
                    <h2>{{mainHeading}}<span class="redsmall">{{mainSpan}}</span></h2>
                    <div *ngFor="let platform of platformArray">
                        <p class="whiteText"><span class="mr-2"><img src="{{platform.platformImg}}"
                                    alt="https://cbnits.s3.us-east-1.amazonaws.com/list-icon.png"></span>{{platform.platformSpan}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>