<!-- Header section starts here -->
<app-header
  [backgroundImage]="angularBackgroundImage"
  [headerTitle]="angularHeaderTitle"
  [headerSpan]="angularHeaderSpan"
  [headerParaOne]="angularHeaderParaOne"
  [headerParaTwo]="angularHeaderParaTwo"
  [headerLanguageArray]="angularHeaderLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- our angularjs section starts here -->
<app-development
  [developmentArray]="developmentAngularArray"
  [developmentImage]="developmentAngularImage"
  [developmentPara]="developmentAngularPara"
  [developmentHeading]="developmentAngularHeading"
  [developmentSkyHeading]="developmentAngularSkyHeading"
>
</app-development>
<!-- our angularjs section ends here -->

<!-- advantages of hiring section starts here -->
<app-advantagesdevelopers
  [advantagesArray]="advantagesAngularArray"
  [advantagesButtonName]="advantagesAngularButtonName"
  [advantagesHeading]="advantagesAngularHeading"
  [advantagesSpan]="advantagesAngularSpan"
  [advantagesImage]="advantagesAngularImage"
>
</app-advantagesdevelopers>
<!-- advantages of hiring section ends here -->

<!-- Footer section starts here -->
<app-footer></app-footer>
<!-- Footer section end here -->
