<!-- Header section starts here -->
<app-header
  [backgroundImage]="cloudDevBackgroundImage"
  [headerTitle]="cloudDevHeaderTitle"
  [headerSpan]="cloudDevHeaderSpan"
  [headerParaOne]="cloudDevHeaderParaOne"
  [headerParaTwo]="cloudDevHeaderParaTwo"
  [headerLanguageArray]="cloudDevHeaderLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<div class="cloud py-5">
  <div class="py-4 head-para">
    <p>
      Are you searching for third party data hosting ? Look no further than
      CBNITS as we help companies leverage the vast potential of cloud computing
      and delight their customers and transform their business. CBNITS offers
      both public and private data center within its cloud services including
      Amazon web services(AWS), Google platform, Microsoft Azure, Backspace,
      Apache, CloudStock, and Salesforce.
    </p>
  </div>
  <div>
  <!--Our cloud Development services section start-->
    <div class="portfolio-bnits py-5">
      <div class="themed-container container">
        <div class="text-center head">
          <h2>
            Our cloud Development services
            <span class="skycolor">Portfolio includes:</span>
          </h2>
        </div>
        <div class="d-flex align-items-center justify-content-center row">
          <div
            class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"
            *ngFor="let cloud of cloudArray; let i = index"
          >
            <div class="deliverOptn mt-4">
              <div class="deliverOptnNo">
                <div class="dashBorder">
                  <span>{{ i + 1 }}</span>
                </div>
              </div>
              <div class="deliverDetails">
                <span>{{ cloud }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our cloud Development services section End-->

<!-- Kubernets section start-->
<div class="cloudCbnits py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-lg-6 col-xl-6">
        <div class="imgSec"><br /><br /><br />
          <img
            src="https://cbnits.s3.us-east-1.amazonaws.com/cloudDevMain.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="cloudCbnits-Text">
          <p>
            <span>Kubernets</span> is a container orchestration system that was
            initially designed by Google to help scale containerized
            applications in the cloud. It aims to provide better ways of
            managing related, distributed components across varied
            infrastructure. All major cloud vendors are supporting Kubernetes
            providing out-of-the-box solutions for it. CBNITS provides a
            turn-key Kubernetes-based application management platform that
            accelerates the adoption of open-source and cloud-native
            technologies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Kubernets section End-->

<!-- cost advantages section start-->
<div class="cloudCbnits py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-lg-6 col-xl-6">
        <div class="cloudCbnits-Text">
          <p>
            <span>The Cost</span>
            <span class="skycolor"> advantage</span> of cloud computing Cloud is
            an evolving and comprehensive platform. By hosting software,
            platforms, and databases remotely, the cloud servers free up the
            memory and computing power of individual computers. The costs of
            cloud computing are much more flexible. Our clients need to pay for
            server and infrastructure capacity only when they need them.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="imgSec">
          <img
            src="https://cbnits.s3.us-east-1.amazonaws.com/cloudDevMain2.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cost advantages section End-->

<div class="text-center">
  <button type="button" class="btn btn-primary" (click)="hireus()">
    Hire Us
  </button>
</div>

<!-- footer section start-->
<app-footer></app-footer>
<!-- footer section end-->
