.great-place {
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif !important;
    color: #212529;
}

.great-place-content {
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.details {
    width: 100%;
    height: auto;
    cursor: default;
}

.details h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #212529;
}

.details p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
    color: #212529;
}