<!-- Header section starts here -->

<app-header
  [backgroundImage]="backgroundPrivacyPolicyImage"
  [headerTitle]="headerPrivacyPolicyTitle"
  [headerSpan]="headerPrivacyPolicySpan"
  [headerLanguageArray]="headerPrivacyPolicyLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- privacy-policy section starts here -->
<div class="privacy">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="privacy-head">
          <h2>PRIVACY<span class="skycolor mb-5"> POLICY:</span></h2>
          <div>
            <p>
              CBNITS India Pvt. Ltd. is committed to protecting the privacy and
              security of your personal information. CBNITS India Pvt. Ltd.
              (“we” “us” or “our”) has created this Privacy Statement, in order
              to demonstrate our Company's commitment to privacy.
            </p>
            <p>
              This privacy statement describes how we collect and use your
              personal information and data. It is important that you read this
              statement, together with any other privacy statement we may
              provide on specific occasions when we are collecting or processing
              personal information about you, so that you are aware of how and
              why we are using such information.
            </p>
          </div>
          <div>
            <h3>Personal Information Provided By You to CBNITS:</h3>
            <p>
              We may collect personal information such as your First Name, Last
              Name, E- mail Address, Job Title, Organization, Country, and City
              names and Phone Number. When you provide this information through
              websites or emails, it enables us to respond to your request for
              products or services, and we will, (wherever permissible by
              relevant laws), collect, use and disclose this information to
              third parties for the purposes described in this Privacy
              Statement.
            </p>
          </div>
          <div>
            <h3>Through the Site:</h3>
            <p>
              You can generally visit the Site without revealing any personal
              information about yourself. However, in certain sections of the
              Site, we may invite you to contact us for information or
              questions, inquire about a job or apply for a job, or to obtain
              content we provide for informational and marketing purposes. In
              such situations, you may disclose to us your name, phone number,
              email address, title, company name, and certain employment-related
              information.
            </p>
            <p>
              We may track and store information such as the total number of
              visitors to our Site, the number of visitors to each page of our
              Site, your IP address, your browser type, the number of external
              web site (defined below) pages you have visited, and other
              browsing or computer data.
            </p>
          </div>
          <div>
            <h3>Usage of the collected Information:</h3>
            <p>
              The Information collected is constantly used to provide personally
              relevant features and improve the services for our Users. With
              such pool of information, it is easier for us to understand the
              current trends in the market, according to which we cater our
              services. Such information helps us to come with content that
              provides a better User experience, thereby creating better
              satisfaction and increasing the user base of our Website.
            </p>
          </div>
          <div>
            <h3>How do we protect your information?</h3>
            <p>
              We do not use vulnerability scanning and/or scanning to PCI
              standards. We use regular Malware Scanning. Your personal
              information is contained behind secured networks and is only
              accessible by a limited number of persons who have special access
              rights to such systems and are required to keep the information
              confidential. In addition, all sensitive/credit information you
              supply is encrypted via Secure Socket Layer (SSL) technology.
            </p>
            <p>
              We implement a variety of security measures when a user enters,
              submits, or accesses their information to maintain the safety of
              your personal information.
            </p>
          </div>
          <div>
            <h3>Do we use ‘cookies’?</h3>
            <p>We do not use cookies for tracking purposes.</p>
          </div>
          <div>
            <h3>Third-party disclosure</h3>
            <p>
              We do not sell, trade, or otherwise transfer to outside parties
              your Personally Identifiable Information. We may disclose and
              otherwise process your personal data in accordance with applicable
              law to defend CBNITS legitimate interests, for example, in civil
              or criminal legal proceedings.
            </p>
          </div>
          <div>
            <h3>Changes to this Privacy Policy</h3>
            <p>
              We may amend this Privacy Policy from time to time. If we make any
              substantial changes in the way we use your personal information we
              will make that information available by posting a notice on this
              site. We may also, but are not required to, notify you by email or
              regular mail. We recommend that you revisit this Policy from time
              to time to learn of any such changes to this Policy.
            </p>
            <p>
              If you have additional questions, please contact us by writing to:
              <a
                [href]="getStringifiedAssets(demoAssets, demoSubject)"
                style="color: black; text-decoration: underline"
                >business@cbnits.com</a
              >
            </p>
            <p>Visit- <a href="/" target="_blank">www.cbnits.com</a></p>
          </div>
        </div>
        <div class="privacy-head">
          <h2>Terms of<span class="skycolor mb-5"> Service:</span></h2>
          <div>
            <p>
              ACCESSING, BROWSING OR OTHERWISE USING THE WEBSITE INDICATES YOUR
              ACCEPTANCE TO ALL THE TERMS AND CONDITIONS HEREIN. PLEASE READ
              THESE TERMS OF USE CAREFULLY BEFORE PROCEEDING. IF YOU DO NOT
              AGREE WITH THE SAME, PLEASE DO NOT USE THIS WEBSITE.
            </p>
            <p>
              If you accept or agree to the Agreement on behalf of a company,
              organization or other legal entity (a “Legal Entity”), you
              represent and warrant that you have the authority to bind that
              Legal Entity to the Agreement and, in such event, “you” and “your”
              will refer and apply to that company or other legal entity.
            </p>
            <p></p>
            <ul style="cursor: default">
              <li>
                You acknowledge and agree that, by accessing, purchasing or
                using the services, you are indicating that you have read,
                understand and agree to be bound by the agreement. If you do not
                agree to these terms and all applicable additional terms, then
                you have no right to access or use any of the services.
              </li>
              <li>
                The term CBNITS shall mean CBNITS India Pvt. Ltd. and the term
                User shall mean the user who is browsing the website
                www.cbnits.com (Site).
              </li>
              <li>
                By using the Site, User agrees to follow and be bound by the
                following terms and conditions and these terms and conditions
                may be revised or modified at any time by CBNITS without any
                notice to User.
              </li>
              <li>
                All content present on this Site is the exclusive property of
                CBNITS including all the software, text, images, graphics, video
                and audio used on this Site. The content may be used exclusively
                for informational purposes, and not for any other purpose
                including trading or electronic commerce.
              </li>
              <li>
                CBNITS name and logo are trademarks which belong to and are
                owned by CBNITS India Pvt. Ltd. These trademarks may not be used
                in any manner without prior written consent from CBNITS India
                Pvt. Ltd.
              </li>
            </ul>
          </div>
          <div>
            <h3>Indemnity</h3>
            <p>
              Customer agrees to indemnify and hold CBNITS and its subsidiaries,
              affiliates, shareholders, officers, directors, agents, licensors,
              suppliers, alliance members, other partners, employees and
              representatives harmless from any claim or demand, including
              reasonable attorneys’ fees, made by any third party due to or
              arising out of Customer’s use of any Third Party Website, Third
              Party Software or Third Party Service, Customer’s violation of any
              Third Party rights, or Customer’s violation of these Terms of Use.
            </p>
          </div>
          <div>
            <h3>Severability</h3>
            <p>
              If any part of these Terms is determined to be invalid or
              unenforceable pursuant to applicable law including, but not
              limited to, the warranty disclaimers and liability limitations set
              forth above, then the invalid or unenforceable provision will be
              deemed severable from these Terms of Use and will not affect the
              validity and enforceability of any remaining provisions and the
              remainder of the Terms shall continue in effect.
            </p>
          </div>
          <div>
            <h3>Changes in Terms of Use and Service</h3>
            <p>
              The Company reserves the right to change, alter or modify the
              Services from time to time, for any reason, and notice, including
              the right to terminate the services offered by the Company. The
              Company further reserves the right to change, alter or modify
              without prior notice the present Terms of Use.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- privacy-policy section end here -->

<app-footer></app-footer>
