<app-header
  [backgroundImage]="contactBackgroundImage"
  [headerTitle]="contactHeaderTitle"
  [headerSpan]="contactHeaderSpan"
  [headerParaOne]="contactHeaderParaOne"
  [headerLanguageArray]="contactHeaderLanguageArray"
>
</app-header>
<!-- Header Section Ends-->

<br />
<div class="contact">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="contact-head">
          <h2 style="color:#212529">Office</h2>
          <h2 class="skycolor mb-5">Address:</h2>
          <h3>Office</h3>
          <div>
            <h4>USA</h4>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="map-marker-alt"
                  class="svg-inline--fa fa-map-marker-alt fa-w-12 fontIcon"
                  role="img"
                  color="#1dbdfc"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    fill="currentColor"
                    d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
                  ></path>
                </svg>
              </div>
              <div class="col-lg-11 col-xl-11">
                <p>875 Yakima Drive, Fremont, California-94539</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  color="#1dbdfc"
                  data-icon="mobile-alt"
                  class="svg-inline--fa fa-mobile-alt fa-w-10 fontIcon"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                >
                  <path
                    fill="currentColor"
                    d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"
                  ></path>
                </svg>
              </div>
              <div class="col-lg-11 col-xl-11"><p>+1669-213-8571</p></div>
            </div>
          </div>
          <div>
            <h4>India</h4>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="mobile-alt"
                  color="#1dbdfc"
                  class="svg-inline--fa fa-mobile-alt fa-w-10 fontIcon"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                >
                  <path
                    fill="currentColor"
                    d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"
                  ></path>
                </svg>
              </div>
              <div class="col-lg-11 col-xl-11"><p>+91-9674533118</p></div>
            </div>
          </div>
          <div>
            <h4>Singapore</h4>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="mobile-alt"
                  color="#1dbdfc"
                  class="svg-inline--fa fa-mobile-alt fa-w-10 fontIcon"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                >
                  <path
                    fill="currentColor"
                    d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"
                  ></path>
                </svg>
              </div>
              <div class="col-lg-11 col-xl-11"><p>+65-31585521</p></div>
            </div>
          </div>
          <div>
            <h4>Connect with Gmail</h4>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <a [href]="getStringifiedAssets(demoAssets, demoSubject)" style="color: black"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="envelope"
                    color="#1dbdfc"
                    class="svg-inline--fa fa-envelope fa-w-16 fontIcon"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="col-lg-11 col-xl-11">
                <p>
                  <a [href]="getStringifiedAssets(demoAssets, demoSubject)" style="color: black"
                    >business@cbnits.com</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div>
            <h4>Connect with Skype</h4>
            <div class="row">
              <div class="col-lg-1 col-xl-1">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/skype.png"
                  class="fontIcon"
                  style="width: 16px"
                />
              </div>
              <div class="col-lg-11 col-xl-11">
                <p>CBNITS Business Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div>
          <div class="form-head text-center" style="margin-top: 120px">
            <h2 style="color:#212529">Leave us a <span class="skycolor">Message</span></h2>
          </div>
          <!-- Form Starts -->
          <div class="formDiv">
            <form class="" [formGroup]="contactUs">
              <div class="row" style="margin-bottom: 10px">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label class="">First Name</label
                    ><input
                      name="firstname"
                      placeholder="Enter your first name"
                      required
                      formControlName="firstName"
                      pattern="[A-Za-z]{2,}"
                      title="Please enter letters only, numeric and special characters are not accepted"
                      type="text"
                      class="form-control"
                      value=""
                    />
                    <span
                      *ngIf="firstName && firstName.errors?.['required'] && firstName.touched"
                      style="color: red"
                      >please Enter firstName</span
                    >
                    <span
                      *ngIf="firstName && firstName.errors?.['pattern'] && firstName.touched"
                      style="color: red"
                      >Enter First Letter Capital Only</span
                    >
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label class="">Last Name</label
                    ><input
                      name="lastname"
                      formControlName="lastName"
                      placeholder="Enter your last name"
                      pattern="[A-Za-z]{2,}"
                      title="Please enter letters only, numeric and special characters are not accepted"
                      required
                      type="text"
                      class="form-control"
                      value=""
                    />
                    <span
                      *ngIf="lastName && lastName.errors?.['required'] && lastName.touched"
                      style="color: red"
                      >please Enter LastName</span
                    >
                    <span
                      *ngIf="lastName && lastName.errors?.['pattern'] && lastName.touched"
                      style="color: red"
                      >Enter First Letter Capital Only</span
                    >
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 10px">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label class="">Contact No</label
                    ><input
                      name="contact"
                      placeholder="Enter your contact number"
                      formControlName="contactNo"
                      title="please fill out this field"
                      required
                      min="0"
                      max="100000000000000000000"
                      type="number"
                      class="form-control"
                      value=""
                    />
                    <span
                      *ngIf="contactNo && contactNo.errors?.['required'] && contactNo.touched"
                      style="color: red"
                      >please Enter Contact No.</span
                    >
                    <span
                      *ngIf="contactNo && contactNo.errors?.['pattern'] && contactNo.touched"
                      style="color: red"
                      >Enter valid ContactNo.</span
                    >
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label class="">Email Address</label
                    ><input
                      name="email"
                      placeholder="Enter your email address"
                      title="please fill out this field"
                      formControlName="email"
                      required
                      pattern="[a-z0-9]+[a-z0-9._%+-]+[a-z0-9]+@[a-z0-9.-]+\.[a-z]{2,}$"
                      type="email"
                      class="form-control"
                      value=""
                    />
                    <span
                      *ngIf="email && email.errors?.['required'] && email.touched"
                      style="color: red"
                      >please Enter valid Email</span
                    >
                    <span
                      *ngIf="email && email.errors?.['pattern'] && email.touched"
                      style="color: red"
                      >Enter valid Email</span
                    >
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 10px">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-group">
                    <label class="">Message</label
                    ><textarea
                      name="text"
                      formControlName="message"
                      rows="4"
                      required
                      class="form-control"
                    >
                    </textarea>
                    <span
                      *ngIf="message && message.errors?.['required'] && message.touched"
                      style="color: red"
                      >please Enter
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="contact()"
                      [disabled]="contactUs.invalid"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--*********-->
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<app-footer></app-footer>
