<!-- Header section starts here -->
<app-header
  [backgroundImage]="eCommerceBackgroundImage"
  [headerTitle]="eCommerceHeaderTitle"
  [headerSpan]="eCommerceHeaderSpan"
  [headerLanguageArray]="eCommerceHeaderLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- Overview section starts here -->
<app-overview
  [overviewHeading]="overviewHeading"
  [overviewSpan]="overviewSpan"
  [overviewImg]="overviewImg"
>
</app-overview>
<!-- Overview section ends here -->

<!-- Functionality section starts here -->
<app-functionality
  [firstHeading]="sellerHeading"
  [firstArray]="sellerArray"
  [secondHeading]="buyerHeading"
  [secondArray]="buyerArray"
  [thirdHeading]="adminHeading"
  [thirdArray]="adminArray"
>
</app-functionality>
<!-- Functionality section ends here -->

<!-- what we did section starts here -->
<app-whatwedid
  [mainImg]="whatWeDidMainImg"
  [mainHeading]="whatWeDidMainHeading"
  [mainSpan]="whatWeDidMainSpan"
  [platformArray]="whatweDidPlatformArray"
>
</app-whatwedid>
<!-- whatwedid section ends here -->

<!-- technology section starts here -->
<app-technology
  [techHeading]="technologyHeading"
  [techSpan]="technologySpan"
  [techStackArray]="technologyStackArray"
>
</app-technology>
<!-- technology section ends here -->

<!-- Footer section starts here -->
<app-footer></app-footer>
<!-- Footer section ends here -->
