<div class="language py-2">
  <div class="themed-container container">
    <div class="d-flex align-items-center py-5 row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="imgSec p-5">
          <img src="{{ webPageImg }}" alt="" />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="webpage">
        <div class="center-div">
          <h2>
            {{ webFirstText }} 
            <span class="skycolor"> {{ webSecondText }}</span>{{ textp }}
          </h2>
          <span class="lightGreyText"> {{ webPagePara }}</span>
          <div style="height: 20px"></div>
          <span class="lightGreyText"> {{ webPagePara1 }}</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
