<app-header [backgroundImage]="backgroundCyberSecurityImage" [headerTitle]="headerCyberSecurityTitle" [headerParaOne]="headerCyberSecurityParaOne"
    [headerLanguageArray]="headerCyberSecurityLanguageArray">
</app-header>

<!-- cyber-security page data start -->
<div class="cyber-security">
    <div class="cyber-security-content">
        <h1>{{cyberSecurityById.metaTitle}}</h1>
    </div>
    <div class="author">
        <p id="font-bolder">Author: Naveen Bachkethi, Forbes Councils Member, Forbes Technology Council Technical
            Advisor, CBNITS</p>
        <p [innerHTML]="cyberSecurityById.newsContent"></p>
        <p>The original source of the article can be found <a
                href="https://www.forbes.com/sites/forbestechcouncil/2020/10/06/booming-industries-in-2020-cybersecurity/?sh=5588882f79be">
                HERE.</a></p>
    </div>
</div>
<!-- cyber-security page data end -->
<app-footer></app-footer>