<!-- Header section starts here -->
<app-header
  [backgroundImage]="reactBackgroundImage"
  [headerTitle]="reactHeaderTitle"
  [headerSpan]="reactHeaderSpan"
  [headerParaOne]="reactHeaderParaOne"
  [headerParaTwo]="reactHeaderParaTwo"
  [headerLanguageArray]="reactHeaderLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- our angularjs section starts here -->
<app-development
  [developmentArray]="developmentReactArray"
  [developmentImage]="developmentReactImage"
  [developmentPara]="developmentReactPara"
  [developmentHeading]="developmentReactHeading"
  [developmentSkyHeading]="developmentReactSkyHeading"
>
</app-development>
<!-- our angularjs section ends here -->

<!-- advantages of hiring section starts here -->
<app-advantagesdevelopers
  [advantagesArray]="advantagesReactArray"
  [advantagesButtonName]="advantagesReactButtonName"
  [advantagesHeading]="advantagesReactHeading"
  [advantagesSpan]="advantagesReactSpan"
  [advantagesImage]="advantagesReactImage"
>
</app-advantagesdevelopers>
<!-- advantages of hiring section ends here -->

<!-- Footer section starts here -->
<app-footer></app-footer>
<!-- Footer section ends here -->
