<!-- Header section starts here -->

<app-header 
    [backgroundImage]="golangBackgroundImage" 
    [headerTitle]="golangHeaderTitle"
    [headerParaOne]="golangHeaderParaOne" 
    [headerParaTwo]="golangHeaderParaTwo" 
    [headerLanguageArray]="golangHeaderLanguageArray">
</app-header>

<!-- Header section ends here -->

<!-- our angularjs section starts here -->

<app-development 
    [developmentArray]="developmentGolangArray"
    [developmentImage]="developmentGolangImage"
    [developmentPara]="developmentGolangPara"
    [developmentHeading]="developmentGolangHeading"
    [developmentSkyHeading]="developmentGolangSkyHeading"
    [developmentText]="developmentGolangText">
</app-development>

<!-- our angularjs section ends here -->

<!-- advantages of hiring section starts here -->

<app-advantagesdevelopers
    [advantagesArray]="advantagesGolangArray"
    [advantagesButtonName]="advantagesGolangButtonName"
    [advantagesHeading]="advantagesGolangHeading"
    [advantagesSpan]="advantagesGolangSpan"
    [advantagesImage]="advantagesGolangImage">
</app-advantagesdevelopers>

<!-- advantages of hiring section ends here -->

<!-- Footer section starts here -->

<app-footer></app-footer>

<!-- Footer section ends here -->
