<div class="full-dedicated py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="full-stack-dedicated">
          <h2>
            {{ leftTitleBlack }} <span class="skycolor"> {{ leftTitleBlue }}</span>
          </h2>
          <h6>{{ leftMediumHeading }}</h6>
          <p> {{ leftText }}</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="full-stack-img">
          <img
            src = "{{ fullImage }}" alt="fullstack"
          />
        </div>
      </div>
    </div>
  </div>
</div>
