.transformWrapper {
    background-color: #fff;
    margin-top:100px;
    margin-bottom: 25px;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}
.imgSec {
    width: 100%;
    height: auto;
}
.imgSec img {
    width: 100%;
}
.whyTitle {
    margin-bottom: 30px;
}
.whyTitle h3 {
    color: #000;
    font-size: 23px;

    cursor: default;
    text-transform: uppercase;
}
.whyTitle h3 span {
    color: #1dbdfc;
    cursor: default;
    
}
.whyTitle p {
    color: #000;
    font-size: 14px;
    cursor: default;
    margin-bottom: 60px;
}
.listStyle {
    list-style-type: none;
    padding-left: 0;
}
.listStyle li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
.listStyle li::before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQBAMAAAACH4lsAAAAKlBMVEVHcEzxWinxWinxWinxWinxWinxWinxWinxWinxWinxWinxWinxWinxWinlMfquAAAADXRSTlMA7neKIjMRzLtm3VWqZ9AVVgAAAHdJREFUCNdjYGBIXnv3KAMIMN29e7cBzLK9DCIVGBg4rzsAGRxAbqIISKjXgIFBVwEqxHDWIYWBrRbELWRbGJB+CaSikCFQcu0EhlgDoCyr7G0GhrkKIB2BG4CaA6CmcF6HmbxRBGqbz90NUBfcXQp2AtBVTUAKALLUJErkCeklAAAAAElFTkSuQmCC);
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
}
.fourReacson-wrapper {
    background-color: #F8F9FC;
    padding-bottom: 25px;
}
.text-center {
    text-align: center!important;
}
.fourReacson h2 {
    font-size: 42px;
    font-family: "Lato", sans-serif;;
    text-transform: uppercase;
    cursor: default;
    font-weight: 600;
}
.skycolor {
    color: #1dbdfc;
}
.my-4 {
    margin-bottom: 1.5rem!important;
}
.we-cnt-new {
    height: 220px !important;
}
.fourResonsBX {
    height: 170px;
    padding: 10px;
    
}
.we-container {
    box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 11%);
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    height: 250px;
}
.num-txt-new {
    height: 65px !important;
}
.num-txt {
    display: flex;
    justify-content: center;
    cursor: default;
    align-items: flex-start;
    margin-bottom: 25px;
}
.fourResonsBX .num-txt span {
    color: #a8dffd;
    cursor: default;
}
.num-txt span {
    line-height: 1;
    margin-right: 8px;
    font-size: 50px;
    cursor: default;
    font-weight: 400;
    color: #b8b9bb;
}
h6 {
    font-size: 16px;
    cursor: default;
}
.fourResonsBX p {
    font-size: 14px;
    cursor: default;
}
.desp {
    font-size: 16px;
    cursor: default;
}
.oppurtunity-wrapper {
    background-color: #fff;
    font-family: "Lato",sans-serif;
}
.opportunity h2 {
    font-size: 42px;
    text-transform: uppercase;
    cursor: default;
    font-weight: 600;
}
b, strong {
    font-weight: bolder;
}
p {
    margin-top: 0;
    margin-bottom: 16px;
    cursor: default;
    font-size:16px;
 
}
.collapsTitle {
    background: #444445;
    color: #fff;
    display: block;
    width: 100%;
    padding: 15px;
    cursor: default;
    border-radius: 10px;
    justify-content: space-between;
}
.collapsTitle.active span {
   transform: rotate(180deg);
}
.my-0 {
    margin-bottom: 0!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.collapse:not(.show) {
    display: none;
}
.py-4 {
    padding-bottom: 1.5rem!important;
}
.cllp-p {
    font-size: 20px;
    font-weight: 600;
}
.listStyle {
    list-style-type: none;
    padding-left: 0;
}
.listStyle li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
    color:#212529;
    line-height: 24px;
    font-weight: 600;
    cursor: default;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:hover{
  background-color: #228B39;
}
.btn:focus{
  background-color: #228B39;
  border:3px solid #9bdda9;
  outline: none;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.collapsTitle.active {
    background: #1dbdfc;

}

/*responsive */
@media (max-width: 375px) {
    .webpage h2 {
      font-size: 20px;
    }
    .webpage h2 span {
      font-size: 20px;
    }
    .webpage span {
      font-size: 14px;
    }
    .morethan h6 {
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 20px;
    }
    .deliver p {
      font-size: 14px;
    }
    .tab-container h2 {
      font-size: 20px;
    }
    .fullstack-tab p {
      font-size: 14px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 376px) and (max-width: 425px) {
    .webpage h2 {
      font-size: 25px;
    }
    .webpage h2 span {
      font-size: 25px;
    }
    .webpage span {
      font-size: 14px;
    }
    .morethan h6 {
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 25px;
    }
    .deliver p {
      font-size: 14px;
    }
    .tab-container h2 {
      font-size: 25px;
    }
    .fullstack-tab p {
      font-size: 14px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 426px) and (max-width: 575px) {
    .webpage h2 {
      font-size: 26px;
    }
    .webpage h2 span {
      font-size: 26px;
    }
    .webpage span {
      font-size: 16px;
    }
    .morethan h6 {
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 26px;
    }
    .deliver p {
      font-size: 16px;
    }
    .tab-container h2 {
      font-size: 26px;
    }
    .fullstack-tab p {
      font-size: 16px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
    .morethanlist {
      height: 165px;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .webpage h2 {
      font-size: 29px;
    }
    .webpage h2 span {
      font-size: 29px;
    }
    .webpage span {
      font-size: 16px;
    }
    .morethan h6 {
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 29px;
    }
    .deliver p {
      font-size: 16px;
    }
    .tab-container h2 {
      font-size: 29px;
    }
    .fullstack-tab p {
      font-size: 16px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
    .morethanlist {
      height: 165px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .webpage h2 {
      font-size: 32px;
    }
    .webpage h2 span {
      font-size: 32px;
    }
    .webpage span {
      font-size: 18px;
    }
    .morethan h6 {
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 32px;
    }
    .deliver p {
      font-size: 18px;
    }
    .tab-container h2 {
      font-size: 32px;
    }
    .fullstack-tab p {
      font-size: 18px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
    .morethanlist {
      height: 175px;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1199px) {
    .webpage h2 {
      font-size: 38px;
    }
    .webpage h2 span {
      font-size: 38px;
    }
    .webpage span {
      font-size: 20px;
    }
    .morethan h6 {
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
    .deliver h2 {
      font-size: 38px;
    }
    .deliver p {
      font-size: 18px;
    }
    .tab-container h2 {
      font-size: 38px;
    }
    .fullstack-tab p {
      font-size: 18px;
    }
    .fullstack-tab .nav {
      width: 90%;
      margin: 0 auto;
    }
    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }
    .techstack {
      width: 90%;
      margin: 0 auto;
    }
    .morethanlist {
      height: 160px;
    }
  }

  @media only screen and (max-width : 767px) {
    .develpment h2{font-size: 38px !important;}
    .develpment p {
      font-size: 17px !important;
      text-transform: capitalize;
  }
  .dev-img img{width: 100%;}
  }
  