.offering-bnits {
    background-color: #f8f9fc;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.offering-head {
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center !important;
}

.offering-head h2 {
    font-size: 50px;
    text-transform: uppercase;
    cursor: default;
    font-weight: 600;
}

.skycolor {
    color: #1dbdfc;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
    padding: 15px 0px;
}

.offering-deliverOptn {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    margin: 10px;
}

.offering-deliverOptnNo {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 20px;
    background-color: #1dbdfc;
}

.offering-dashBorder {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #0000;
    border: 1px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offering-dashBorder span {
    color: #fff;
    cursor: default;
}

.offering-deliverDetails {
    padding-left: 10px;
    cursor: default;
}

.offering-deliverDetails span {
    font-size: 14px;
    text-transform: capitalize;
    cursor: default;
    font-weight: 800;
}

.app-advantagesdevelopers {
    background-color: #ffff;
}

.devopsCbnits {
    font-family: "poppins", sans-serif;
    background-color: #fff;
}

.devopsCbnits-advantages h6 {
    font-size: 38px;
    cursor: default;
    font-weight: 700;
    margin-bottom: 30px;
}

.imgSec img {
    max-width: 88%;
    max-height: 90%;
    margin-top: 90px;
    margin-left: 50px;
}

h6 {
    cursor: default;
    font-size: 1rem;
}

.devopsCbnits-advantages p {
    font-size: 18px;
    cursor: default;
    text-transform: capitalize;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    cursor: default;
}

button {
    background-color: rgb(0, 148, 68);
    border-color: rgb(0, 148, 68);
    text-transform: uppercase;
    padding: 10px 36px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #009444;
    border-color: #009444;
}
.btn-primary:focus{
    border-radius: 5px;
    outline: none;
    border-style: none;
    background-color: #009444;
    box-shadow:0 0 0 3px #1dbdfc ;
}
