<!-- Header section starts here -->
<app-header
  [backgroundImage]="backgroundHealthCareImage"
  [headerTitle]="headerHealthCareTitle"
  [headerSpan]="headerHealthCareSpan"
  [headerLanguageArray]="headerHealthCareLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- Overview section starts here -->
<app-overview
  [overviewHeading]="overviewHeading"
  [overviewSpan]="overviewSpan"
  [overviewImg]="overviewImg"
>
</app-overview>
<!-- Overview section ends here -->

<!-- Functionality section starts here -->
<app-functionality
  [firstHeading]="firstHeading"
  [firstArray]="firstArray"
  [secondHeading]="secondHeading"
  [secondArray]="secondArray"
  [thirdHeading]="thirdHeading"
  [thirdArray]="thirdArray"
>
</app-functionality>
<!-- Functionality section ends here -->

<!-- whatwedid section starts here -->
<app-whatwedid
  [mainImg]="mainImg"
  [mainHeading]="mainHeading"
  [mainSpan]="mainSpan"
  [platformArray]="platformArray"
>
</app-whatwedid>
<!-- whatwedid section ends here -->

<!-- technology section starts here -->
<app-technology
  [techHeading]="techHeading"
  [techSpan]="techSpan"
  [techStackArray]="techStackArray"
>
</app-technology>
<!-- technology section ends here -->

<!-- Footer section starts here -->
<app-footer></app-footer>
<!-- Footer section ends here -->
