<!-- header section start -->
<app-header
  [backgroundImage]="backgroundImage"
  [headerTitle]="headerTitle"
  [headerSpan]="headerSpan"
  [headerParaOne]="headerParaOne"
  [headerLanguageArray]="headerLanguageArray"
>
</app-header>
<!--header section end-->

<!--About our board of directors Section Starts -->
<div class="v2-discovery py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">
        <div class="imgSec">
          <div>
            <div class="imageSize">
              <img
                src="https://cbnits.s3.us-east-1.amazonaws.com/naveen-2.jpg"
                alt=""
              />
            </div>
            <p style="margin-bottom: 5px">
              <span style="font-weight: 800">Naveen Bachkethi</span>
            </p>
            <p style="font-size: 11px">
              <em>CEO &amp; Co-Founder, CBNITS India Pvt. Ltd.</em>
            </p>
          </div>
        </div>
      </div>
      <div class="col-16 col-sm-16 col-md-8 col-lg-8 col-xl-8">
        <h2>About Our <span class="skycolor">Board of Directors</span></h2>
        <h4>Naveen Bachkethi</h4>
        <p style="font-size: 11px">
          <em>CEO &amp; Co-Founder, CBNITS India Pvt. Ltd.</em>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/naveenbachkethi/" target="_blank"
            >Naveen Bachkethi</a
          >
          is the CEO &amp; Co-Founder of CBNITS. Naveen is a Software Services
          Leader, having expertise in Enterprise Security, Cyber Security,
          Healthcare, Edtech &amp; Fintech domains. Before starting CBNITS, he
          worked in product companies handling engineering teams for 16+ years
          in companies like Intel, McAfee, NetSkope &amp; VMWare and has been
          awarded numerous times during his tenure at these companies. Naveen
          has filed two patents.
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center row">
      <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">
        <div class="imgSec2">
          <div>
            <div class="imageSize">
              <img
                src="https://cbnits.s3.us-east-1.amazonaws.com/sir-1.jpg"
                alt=""
              />
            </div>
            <p style="margin-bottom: 5px">
              <span style="font-weight: 800">Rajdeep Bose</span>
            </p>
            <p style="font-size: 11px">
              <em>President and Co-Founder, CBNITS India Pvt. Ltd.</em>
            </p>
          </div>
        </div>
      </div>
      <div class="col-16 col-sm-16 col-md-8 col-lg-8 col-xl-8">
        <h4>Rajdeep Bose</h4>
        <p style="font-size: 11px">
          <em>President and Co-Founder, CBNITS India Pvt. Ltd.</em>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/rajdeep-bose/" target="_blank"
            >Rajdeep Bose</a
          >
          is the President and Co-Founder of CBNITS India Pvt. Ltd. Rajdeep is a
          dynamic tech entrepreneur with over 16+ years of hands-on proven
          business experience in the IT arena. He holds immense expertise in a
          wide range of IT-related backend latest technologies like Golang, and
          Java Spring boot along with mobile app technology like a flutter. He
          has vast experience to manage more than 100 members team as a
          technical product manager.
        </p>
      </div>
    </div>
  </div>
</div>
<!--About our board of directors section end -->

<!--about cbnits section start-->
<div class="aboutv2-part py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="v2-cbnits-left col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>about <span class="skycolor">cbnits</span></h2>
        <p>
          {{ aboutCbnitsPara[0] }}
        </p>
        <p>
          {{ aboutCbnitsPara[1] }}
        </p>
      </div>
      <div class="v2-cbnits-right col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>
          <span
            ><img
              src="https://cbnits.s3.us-east-1.amazonaws.com/ab1.png"
              alt="" /></span
          >400+ Expert-level software engineers,
        </p>
        <p>
          <span
            ><img
              src="https://cbnits.s3.us-east-1.amazonaws.com/ab2.png"
              alt="" /></span
          >Cloud engineers,
        </p>
        <p>
          <span
            ><img
              src="https://cbnits.s3.us-east-1.amazonaws.com/ab3.png"
              alt="" /></span
          >Cybersecurity experts,
        </p>
        <p>
          <span
            ><img
              src="https://cbnits.s3.us-east-1.amazonaws.com/ab4.png"
              alt="" /></span
          >Data Scientists,
        </p>
        <p>
          <span
            ><img
              src="https://cbnits.s3.us-east-1.amazonaws.com/ab5.png"
              alt="" /></span
          >UX/UI designers,
        </p>
      </div>
    </div>
  </div>
</div>
<!--about cbnits section end -->

<!--diversity of our team section start -->
<div class="v2-discovery py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="imgSec">
          <img
            class=""
            alt=""
            src="https://cbnits-web-live.s3.amazonaws.com/b59aabf4e4a63dfc807767a05f380c9b-1607029778379.png"
          />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>diversity of <span class="skycolor">our team</span></h2>
        <p>
         {{ diversity }}
        </p>
        <p></p>
        <p></p>
        <div class="">
          <div class="d-flex text-center row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al1.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al2.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al3.png"
                  alt=""
                  class="company-img"
                />
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al4.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al5.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al6.png"
                  alt=""
                  class="company-img"
                />
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al7.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al8.png"
                  alt=""
                  class="company-img"
                />
              </div>
              <div class="p-2">
                <img
                  src="https://cbnits.s3.us-east-1.amazonaws.com/al9.png"
                  alt=""
                  class="company-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--diversity of our team section start -->

<!-- XFactor section start-->
<div class="v2-xfactor py-5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>X-factor of <span class="skycolor">cbnits</span></h2>
        <p>
          {{ xFactor }}
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="imgSec">
          <img
            alt=""
            src="https://cbnits-web-live.s3.amazonaws.com/893bd3e33d7d6a9673a36de581c3a38c-1607029572165.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!--xFactor section end-->

<!--reason to pick cbnits section start-->
<div class="v2-tree py-5">
  <div class="themed-container container">
    <h2>reasons to pick cbnits as</h2>
    <h2 class="skycolor mb-5">your it partner</h2>
    <div class="cusrow row">
      <div class="mb-5 text-center col-lg-5 col-xl-5">
        <img src="https://cbnits.s3.us-east-1.amazonaws.com/ar1.png" alt="" />
      </div>
      <div class="d-flex justify-content-center rignt col-lg-2 col-xl-2">
        <span class="reason-pick">01</span>
      </div>
      <div class="mb-5 your-it-partner col-lg-5 col-xl-5">
        <h6>{{ wideHeading }}</h6>
        <p>
          {{ wideDesc }}
        </p>
      </div>
      <div class="mb-5 your-it-partner text-right col-lg-5 col-xl-5">
        <h6>{{ supportHeading }}</h6>
        <p>
          {{ supportDesc }}
        </p>
      </div>
      <div class="d-flex justify-content-center left col-lg-2 col-xl-2">
        <span class="reason-pick">02</span>
      </div>
      <div class="mb-5 text-center col-lg-5 col-xl-5">
        <img src="https://cbnits.s3.us-east-1.amazonaws.com/ar2.png" alt="" />
      </div>
      
      <div class="mb-5 text-center col-lg-5 col-xl-5">
        <img src="https://cbnits.s3.us-east-1.amazonaws.com/ar3.png" alt="" />
      </div>
      <div class="d-flex justify-content-center rignt col-lg-2 col-xl-2">
        <span class="reason-pick">03</span>
      </div>
      <div class="mb-5 your-it-partner col-lg-5 col-xl-5">
        <h6>{{ focusHeading }}</h6>
        <p>
          {{ focusDesc }}
        </p>
      </div>
      <div class="mb-5 your-it-partner text-right col-lg-5 col-xl-5">
        <h6>{{ amazingHeading }}</h6>
        <p>
          {{ amazingDesc }}
        </p>
      </div>
      <div class="d-flex justify-content-center left col-lg-2 col-xl-2">
        <span class="cusrow reason-pick">04</span>
      </div>
      <div class="mb-5 text-center col-lg-5 col-xl-5">
        <img src="https://cbnits.s3.us-east-1.amazonaws.com/ar4.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!--reason to pick cbnits section start -->

<!--our vision and our mission Section End -->
<div class="mission py5">
  <div class="themed-container container">
    <div class="d-flex align-items-center row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="our-vision">
          <div class="vision-img">
            <img
              src="https://cbnits.s3.us-east-1.amazonaws.com/aboutM1.png"
              alt=""
            />
            <h5>Our Vision</h5>
          </div>
          <p>
            We strive to exceed expectations and be the best that we can be,
            maintaining the highest level of quality. Our aim is to change the
            way IT services are delivered, through focusing on our core values.
            We always try to improve the quality of our services by exploring
            innovative ideas.
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="our-mission">
          <div class="vision-img">
            <img
              src="https://cbnits.s3.us-east-1.amazonaws.com/aboutM2.png"
              alt=""
            />
            <h5>Our Mission</h5>
          </div>
          <p>
            Our mission is distinctly innovative. We constantly seek new ways to
            improve our IT offerings to increase our brand value.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our mission and vission section end-->

<!--footer section start-->
<app-footer></app-footer>
<!-- footer section end-->
