.press-release {
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    color: #000000;
}

.width-center {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 60px;
}

.content-width {
    width: 46%;
    height: auto;
    overflow: auto;
    margin-top: 40px;
    margin-bottom: 35px;
    display: inline-block;
    margin-left: 30px;
}

.images {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
    color: #212529;
}

a:hover {
    color: #49c5f7;
    text-decoration: none;
}
.image-details p {
    font-size: 15px;
    font-weight: 400;
    color: #212529;
    padding-top: 10px;
    cursor: default;
}

.image-details #margin-bootom {
    height: 180px;
}

#change-color {
    color: #bbbbbb;
}

#span-color {
    color: #3bc6fc;
    text-decoration: underline;
}

.read-more h6 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.newsImgBg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 30px 0;
    height: 246px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
}

.newsImgBg img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.pressHead {
    background-color: green;
    display: inline-block;
    padding: 5px 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 2px 4px #000000;
}