<!-- Header section starts here -->
<app-header
  [backgroundImage]="nodeBackgroundImage"
  [headerTitle]="nodeHeaderTitle"
  [headerParaOne]="nodeHeaderParaOne"
  [headerParaTwo]="nodeHeaderParaTwo"
  [headerLanguageArray]="nodeHeaderLanguageArray"
>
</app-header>
<!-- Header section ends here -->

<!-- nodejs development section starts here -->
<app-development
  [developmentArray]="developmentNodeArray"
  [developmentImage]="developmentNodeImage"
  [developmentPara]="developmentNodePara"
  [developmentHeading]="developmentNodeHeading"
  [developmentSkyHeading]="developmentNodeSkyHeading"
>
</app-development>
<!-- nodejs development section ends here -->

<!-- why hire nodejs section starts here -->
<app-advantagesdevelopers
  [advantagesArray]="advantagesNodeArray"
  [advantagesButtonName]="advantagesNodeButtonName"
  [advantagesImage]="advantagesNodeImage"
  [advantagesHeading]="advantagesNodeHeading"
  [advantagesSpan]="advantagesNodeSpan"
>
</app-advantagesdevelopers>
<!-- why hire nodejs section starts here -->

<!-- footer section starts here -->
<app-footer></app-footer>
<!-- footer section ends here -->
