<!--Header Component start-->
<app-header
  [backgroundImage]="fullStackBackgroundImage"
  [headerTitle]="fullStackHeaderTitle"
  [headerSpan]="fullStackHeaderSpan"
  [headerParaOne]="fullStackHeaderParaOne"
  [headerParaTwo]="fullStackHeaderParaTwo"
  [headerLanguageArray]="fullStackHeaderLanguageArray"
></app-header>
<!--Header Component End-->

<!-- our dedicated full stack developer section start-->
<app-rightsideimage
  [leftTitleBlack]="ourDedicatedTitleBlack"
  [leftTitleBlue]="ourDedicatedTitleBlue"
  [fullImage]="ourDedicatedImage"
  [leftMediumHeading]="ourDedicatedheading[0]"
  [leftText]="ourDedicatedtext[1]"
></app-rightsideimage>
<!-- our dedicated full stack developer section End-->

<!-- why hire full-stack developers from CBNITS section start-->
<app-big-data-cbnits
  [bigDataWhiteText]="whyHireWhiteText"
  [bigDataImage]="whyHireFullStackImage"
  [bigDataOrangeText]="whyHireOrangeText"
  [tickImage]="whiteTickImage"
  [bigDataDevelopmentArray]="whyHireDevelopersArray"
>
</app-big-data-cbnits>
<!--why hire full-stack developers from CBNITS section End-->

<!-- Technical skills Component start-->
<app-technicalskills
  [firstTitle]="technicalSkillFirstTitle"
  [secondTitle]="technicalSkillSecondTitle"
  [technologyStackArray]="technologyStackArray"
  [pageName]="technicalSkillPageName"
>
</app-technicalskills>
<!-- Technical skills Component End-->

<!--Footer Component start-->
<app-footer></app-footer>
<!--Footer Component End-->
